{% extends "base.html" %}
{% block content %}
		
		<div class="container mt-2 p-5 fs-5 d-flex justify-content-center text-dark">
				<div class="col-sm p-4 border rounded-3 shadow-sm bg-green1">
					<h1 class="fw-bold mb-4 text-center">Exercise</h1>
					<p></p>
					<p></p>
					<p></p>
					<p><b> Type of Exercises:</b></p>
					<p></p>
					<p> 	1. Strengthen your Ankle </p>

					<p> 	2. Give Support to your Weak Side </p>
 
					<p> 	3. Lengthening Elbow and Hand Muscles </p>

					<p> 	4. Lengthening your Leg Muscles </p>
 
					<p> 	5. Rolling onto your Side in Bed </p>

					<p> 	6. Moving from Lying to Sitting on the Side of the Bed </p>

					<p> 	7. Moving From Sitting on the Side of the Bed to Lying Down </p>

					<p> 	8. Balance while Sitting </p>

					<p> 	9. Exercises while Sitting </p>

					<p> 	10. Stand Up from a Bed or Chair </p>

					<p> 	11. Transferring into Bed from a Wheelchair or vice versa </p>

					<p> 	12. Transferring In and Out of a Car </p>

					<p> 	13. Getting Up from a Fall </p>

					<p> 	14. Strengthening your Arm and Hand </p>

					<p> 	15. Functional Hand and Finger Activities </p>

					<p> 	16. Back to Work Supports</p>
					<p></p>
				
				</div>
		</div>
		
{% endblock %}
