{% extends "base.html" %}
{% block content %}
		
		<div class="container mt-2 p-5 fs-5 d-flex justify-content-center text-dark">
				<div class="col-sm p-4 border rounded-3 shadow-sm bg-green1">
					<h1 class="fw-bold mb-4 text-center">Health</h1>
					<p></p>
					<p></p>
					<p></p>
					<p><b>WHAT is STROKE? </b></p>
					<p></p>
					<p>Stroke is the sudden death of neurons in localized brain areas due to inadequate blood supply to that area.</p>
					<p> A stroke occurs when a blood vessel in the brain ruptures and bleeds, or when there’s a blockage in the blood supply to the brain. </p>
					<p>The rupture or blockage prevents blood and oxygen from reaching the brain’s tissues. Without oxygen, brain cells and tissue become damaged and begin to die within minutes.</p>
					<p> It can be characterized with reversible and irreversible paralysis and other symptoms.</p>
					<p> It is also called CEREBROVASCULAR ACCIDENT OR BRAIN ATTACK </p>
					<p></p>
					<p></p>
					<p><b>TYPE of STROKE? </b></p>
					<p></p>
					<p>- Ischaemic strokes</p>
					<p>- Haemorrhagic strokes</p>
					<p></p>
					<p></p>
					<p><b>CAUSES of STROKE? </b></p>
					<p></p>
					<p> 1. Heart diseases </p>
					<p> 2. Hypertension </p>
					<p> 3. High cholesterol in blood </p>
					<p>	4. High blood sugar </p>
					<p>	5. Heavy smoking  </p>
					<p>	6. Heavy alcohol consumption</p>
					<p></p>					
					<p></p>
					<p></p>
					<p> 1. Dizziness </P>
					<P> 2. Loss of consciousness </P>
					<P> 3. Coma or death </P>
					<P> 4. Weakness </P>
					<P> 5. Numbness or paralysis, particularly on one side of the body  </P>
					<P> 6. Impairment of speech  </P>
					<P> 7.loss of memory  </P>
					<P> 8.loss of coordination  </P>
					<P> 9.Emotional disturbance </P>
					<P></p>
					<p></p>
					<p><b>Transient ischaemic attack or Mini stroke: </b></p>
					<p></p>
					<p>A transient ischaemic attack (TIA) or "mini stroke" is caused by a temporary disruption in the blood supply to part of the brain.</p>
					<p>The disruption in blood supply results in a lack of oxygen to the brain.This can cause sudden symptoms similar to a stroke, such as speech and visual disturbance, and numbness or weakness in the face, arms and legs. But a TIA does not last as long as a stroke. The effects last a few minutes to a few hours and fully resolve within 24 hours.</p>
					<p></p>
					<p><b>TIA Symptoms:</b></p>
					<p></p>
					<p>The main symptoms of a TIA can be remembered with the word FAST:</p>
					<p></p>
					<p>Face – the face may have dropped on 1 side, the person may not be able to smile, or their mouth or eye may have dropped.</p>
					<p>Arms – the person may not be able to lift both arms and keep them raised because of weakness or numbness in 1 arm.</p>
					<p>Speech – their speech may be slurred or garbled, or the person may not be able to talk at all, despite appearing to be awake; they may also have problems understanding what you're saying to them</p>
					<p>Time – it is time to see your doctor if you notice any of these symptoms.</p>
					<p></p>
					<p></p>
					<p><b>CAUSES of TIA? </b></p>
					<p></p>
					<p> 1. Smoking </p>
					<p> 2. High blood pressure (hypertension) </p>
					<p> 3. High cholesterol levels</p>
					<p>	4. Obesity </p>
					<p>	5. Regularly drinking an excessive amount of alcohol </p>
					<p>	6. Having a type of irregular heartbeat called atrial fibrillation</p>
					<p>	7. Having diabetes </p>
					<p></p>
					<p></p>
					
					<p><b>How to lower risk of TIA: </b></p>
					<p></p>
					<p> 1. Not Smoking </p>
					<p> 2. Maintaining a healthy weight </p>
					<p> 3. Eating a healthy, balanced diet</p>
					<p>	4. Doing regular exercise </p>
					<p>	5. Limiting alcohol </p>
					<p></p>
					<p></p>
					
					<p><b><center>STAY HEALTY FOR YOUR LOVE ONE!</b></center></size></p>
					
				</div>
		</div>
		
{% endblock %}
