{% extends "base.html" %}
{% block content %}
		
		<div class="container mt-2 p-5 fs-5 d-flex justify-content-center text-dark">
				<div class="col-sm p-4 border rounded-3 shadow-sm bg-green1">
					<h1 class="fw-bold mb-4 text-center">Module</h1>
					<p><b>Modules prioritise by the therapiest in Rehab session: </b></p>
					
					<p>Basic Activity</p>
					
					<p>Body Support</p>
					
					<p>Functioning Restore</p>
					
					<p>Body Balance</p>
					
					<p>Emotion Management</p>
					
					<p>Self-dependence</p>
					
					<p>Back to Work</p>
					
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					
					<p></p>
					<p><b>How long the Rehab session would take place?</b></p>
					<p>- Its depend on patient conditions, health and severity of Stroke attack. </p>
					<p>- Normally each phase will take minimum 2 months with 6 to 8 sessions per month.</p>
					<p>- Patients will still required to apply the exercise in daily life (outside the therapy room)</p>
					<p>- Each patients will have several diffrent excercise priority and progress level</p>
					<p></p>
					<p></p>
				</div>
		</div>

{% endblock %}
